<div class="card p-2">
  <h3>Shopping Cart</h3>
  <div><router-link class="btn btn-info btn-sm" to="/customerInfo">My Info</router-link></div>
  <slot></slot>
  <table class="table">
    <tr v-for="line in items">
      <td>{{ line.name }}</td>
      <td>{{ line.price | money }}</td>
      <td>{{ line.quantity }}</td>
      <td>
        <button class="btn btn-sm" v-on:click="onDeleteItem(line)">
          <i class="fas fa-times"></i>
        </button>
      </td>
    </tr>
  </table>
  <slot name="footer">Subtotal: {{ subtotal | money }}</slot>
</div>
