@section Scripts {
<script src="~/client/another.js"></script>
}

<h2>Contact</h2>
<div id="another">
  Example Code for the <a href="https://courses.wilderminds.com/p/vue-js-by-example">Vue.js by Example Course</a>.
</div>

