@section scripts {
  <script src="~/node_modules/vue/dist/vue.js"></script>
  <script src="~/js/index.js"></script>
}
<div id="index-view">
  <h2>Products</h2>
  <div>
    {{ new Date() }}
  </div>
</div>