@section scripts {
  <script src="/lib/vue/dist/vue.min.js"></script>
  <script type="text/javascript">
    var x = new Vue({
      el: "#index-page"
    });
  </script>
}
  <div id="index-page">
    <h2>Products</h2>
    <div>
      {{ new Date().getFullYear() }}
    </div>
  </div>