@section scripts {
  <script src="~/node_modules/vue/dist/vue.js"></script>
  <script src="~/node_modules/axios/dist/axios.js"></script>
  <script src="~/node_modules/vuex/dist/vuex.js"></script>
  <script src="~/js/store.js"></script>
  <script src="~/js/cart.js"></script>
  <script src="~/js/index.js"></script>
}
<div id="index-view">
  <h2>{{ appName }}</h2>
  <div>Purchased: {{ $store.state.cart.length }}</div>
  <div class="row">
    <div class="col-md-8">
      <div v-for="p in $store.state.products">
        <div>{{ p.name }}</div>
        <div>{{ p.description }}</div>
        <div>{{ p.listPrice }}</div>
        <button class="btn btn-info" v-on:click="onBuy(p)">Buy</button>
        <hr />
      </div>
    </div>
    <div class="col-md-4">
      <the-cart v-bind:items="$store.state.cart" v-on:empty-cart="onEmptyCart()"></the-cart>
    </div>
  </div>
</div>