@section scripts {
  <script src="~/node_modules/vue/dist/vue.js"></script>
  <script src="~/node_modules/axios/dist/axios.js"></script>
  <script src="~/node_modules/vuex/dist/vuex.js"></script>
  <script src="~/node_modules/vue-router/dist/vue-router.js"></script>
  <script src="~/node_modules/vee-validate/dist/vee-validate.js"></script>
  <script src="~/js/store.js"></script>
  <script src="~/js/cart.js"></script>
  <script src="~/js/checkout.js"></script>
  <script src="~/js/productList.js"></script>
  <script src="~/js/app.js"></script>
}
<div id="index-view">
  <router-view></router-view>
</div>