@section scripts {
  <!-- Script for polyfilling Promises on IE9 and 10 -->
  <script src='https://cdn.polyfill.io/v2/polyfill.min.js'></script>

  <script src="~/dist/store.js"></script>
}
<div id="index-page">

  <transition name="fade">
    <router-view></router-view>
  </transition>
</div>