<div class="row" id="checkout">
  <div class="col-md-6 offset-md-3">
    <form name="theForm" class="m-1">
      <h3>Checkout</h3>
      <div class="form-group">
        <label for="" class="control-label">Your Name</label>
        <input type="text" class="form-control" placeholder="e.g. Shawn Wildermuth">
      </div>
      <div class="form-group">
        <label for="" class="control-label">Phone Number</label>
        <input type="text" class="form-control" placeholder="404-555-1212">
      </div>
      <div class="well well-sm">
        <div class="form-group">
          <label for="" class="control-label">Address Line 1</label>
          <input type="text" class="form-control" placeholder="123 Main Street">
        </div>
        <div class="form-group">
          <label for="" class="control-label">Address Line 2</label>
          <input type="text" class="form-control" placeholder="">
        </div>
        <div class="form-group">
          <label for="" class="control-label">Address Line 3</label>
          <input type="text" class="form-control" placeholder="">
        </div>
        <div class="form-group">
          <label for="" class="control-label">City</label>
          <input type="text" class="form-control" placeholder="e.g. Atlanta">
        </div>
        <div class="form-group">
          <label for="" class="control-label">State</label>
          <input class="form-control" placeholder="e.g. GA" />
        </div>
        <div class="form-group">
          <label for="" class="control-label">Zipcode</label>
          <input type="text" class="form-control" placeholder="e.g. 30307">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success"><i class="fa fa-arrow-right"></i> Next</button>
      </div>
    </form>
  </div>
</div>
